@import url(/css/reset.css);
@import url(/css/text.css);
@import url(/css/960.css);
@import url(http://fonts.googleapis.com/css?family=Nobile);
@import url(http://fonts.googleapis.com/css?family=Gruppo:regular&v1);
@import url(http://fonts.googleapis.com/css?family=Calligraffitti&v1);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(/css/hashgrid.css);

html,
body {
	font-size: 16px;
	line-height:20px;
	font-family: 'Nobile', arial, serif;
	padding: 0px; 
	margin: 0px; 
	width: 100%;
	height: 100%;
	color: #87410E;
	background-color: white;
}

h1,
h2 {
	font-family: 'Calligraffitti', arial, serif; 
	color: #87410E;
}

h1 {
	font-size: 60px;
	line-height: 60px;
}

h2 {
	font-size: 24px;
	line-height: 40px;
}

a {
	color: #87410E;
	transition: color;
	transition-duration: 4000ms;
	-webkit-transition: color; 
	-webkit-transition-duration: 4000ms;
	-moz-transition: color; 
	-moz-transition-duration: 4000ms;
	-o-transition: color; 
	-o-transition-duration: 4000ms;
}

a:hover {
	color: black;
	transition: color;
	transition-duration: 600ms;
	-webkit-transition: color;
	-webkit-transition-duration: 600ms;
	-moz-transition: color;
	-moz-transition-duration: 600ms;
	-o-transition: color;
	-o-transition-duration: 600ms;
}

.hide {
	visibility: hidden;
}

.top20 {
	margin-top: 20px;
}

header {
	margin: 0;
	background-color: white;
}

#title {
	padding-top: 40px;
}

#title a,
#title a:hover {
	color:black;
	text-decoration:none;
}

#hright {
	text-align: right;
}

#buttons {
	height: 60px;
}

#tripadvisor a {
	height: 40px;
	width: 100px;
	display: block;
	border-radius: 10px;
	float: left;
	background:url(/images/tripadvisor.png) no-repeat left top;
}

#facebook a {
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 10px;
	float: left;
	background:url(/images/facebook.png) no-repeat left top;
}

#contacts {
	margin-top: 40px;
}

#center {
	background-color: brown;
	background:url(/images/wood-bg1.jpg) repeat right center;
	margin-bottom: 20px;
}

#main {
	background:url(/images/uva.png) no-repeat left center;
}

#main h2 {
	font-size: 18px;
	font-family: 'Gruppo', Arial, Serif;
	line-height: 20px;
}

.horizontalaccordion {
	background-color: inherit;
}	

.horizontalaccordion>ul {
	margin: 0;
	padding: 0;
	list-style:none;
	height: 440px;
}

.horizontalaccordion>ul>li {
	display:block;
	overflow: hidden;
	float:right;
	margin: 0;
	padding: 0;
	list-style:none;
	width: 25px;
	height: 440px;
    	/* CSS3 Transitions */
	transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-webkit-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
}

.horizontalaccordion>ul>li>h2 {
	font-size: 24px;
	text-shadow: 1px 1px 1px #aaa;
	display:block;
	float:left;
	margin: 0 0;
	padding: 0 0 0 20px;
	height: 25px;
	width: 440px;
    	/* Decorative CSS */
	line-height: 25px;
	text-decoration:none;
	text-transform:uppercase;
	color: #000;
	background:#cccccc;
    	/* CSS3 Transform Rotate & Translate */
	white-space:nowrap;
	-moz-transform: rotate(90.0deg) translate(-25px,0px);  /* FF3.5+ */
	-moz-transform-origin: 0 100%;
	-o-transform: rotate(90.0deg) translate(-25px,0px);  /* Opera 10.5 */
	-o-transform-origin: 0 100%;
	-webkit-transform: rotate(90.0deg) translate(-25px,0px);  /* Saf3.1+, Chrome */
	-webkit-transform-origin: 0 100%;
	transform: rotate(90.0deg) translate(-25px,0px);  /* Saf3.1+, Chrome */
	transform-origin: 0 100%;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)
	         progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc);  /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)"
	         "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff999999, endColorstr=#ffcccccc)"; /* IE8 */
    	/* CSS3 Gradient Effect */
	background: -moz-linear-gradient( top, #999999, #cccccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#cccccc));
}

.horizontalaccordion>ul>li>section {
	display:none;
	float:left;
	overflow: hidden;
	position:relative;
	top:-25px;
	left: 25px;
	*top: 0px;       /* IE7 Hack */
	*left: 0px;      /* IE7 Hack */
	width:340px;
	height:360px;
	border-radius: 5px;
}

.horizontalaccordion>ul>li:hover {
	overflow: hidden;
	width: 445px;
}

.horizontalaccordion:hover>ul>li:hover>section {
	display:block;
}

.horizontalaccordion:hover>ul>li:hover>h2 {
	/* Decorative CSS */
	color:#fff;
	background:#000000;
    	/* CSS3 Gradient Effect */
	background: -moz-linear-gradient( top, #454545, #000000); /* FF, Flock */
	background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#000000)); /* Safari, Chrome */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)
        	progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff454545, endColorstr=#ff000000); /* IE 5.5 - IE 7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0)"
               "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff454545, endColorstr=#ff000000)";   /* IE 8 */
}

.horizontalaccordion>ul>li>h2:hover {
	cursor:pointer;
}

#images {
	height: 380px;
}

#slider {
	margin-top:20px;
	width: 460px;
}

#controls {
	text-align: center;
	text-transform: uppercase;
}

#controls a {
	text-decoration: none;
	color: #87410E;
	transition: color;
	transition-duration: 2000ms;
	-webkit-transition: color; 
	-webkit-transition-duration: 2000ms;
	-moz-transition: color; 
	-moz-transition-duration: 2000ms;
	-o-transition: color; 
	-o-transition-duration: 2000ms;
}

#controls a:hover {
	color: black;
	transition: color;
	transition-duration: 400ms;
	-webkit-transition: color;
	-webkit-transition-duration: 400ms;
	-moz-transition: color;
	-moz-transition-duration: 400ms;
	-o-transition: color;
	-o-transition-duration: 400ms;
}

section {
	background-color: white;
	margin: 20px;
	padding: 20px;
}

section img {
	border-radius: 5px;
}

section img.piatti {
	margin-right:20px;
	width: 80px;
	height: 60px;
}

footer {
	margin-bottom: 20px;
	text-align: center;
}

#right {
	text-align: right;
}

.jta-tweet-retweeter {
	display: none;
}

.jta-tweet-timestamp {
	display: none;
}
